{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
<footer
  style="background-color: #0056b3; color: white; padding: 10px; text-align: center; position: fixed; width: 100%; bottom: 0;">
  <div class="d-flex justify-content-center fs-2" style="color: #ec942c; font-size: 32px; gap: 50px;">
    <a  href="https://www.instagram.com/laguna.beachsports/" style="color: #ec942c; margin-right: 25px;"><i class="bi bi-instagram"></i></a>
    <a  href="https://wa.me/5535981119783" style="color: #ec942c; margin-left: 25px;">
      <i class="bi bi-whatsapp"></i>
    </a>
  </div>
  <div style="margin-top: 10px; color: #ccc; font-size: 7px;">
    &copy; 2025 Rodrigo Pereira Reiniger. Todos os direitos reservados.
  </div>
</footer>