{% load static %}
<div class="breadcrumb-header"
  style="background-color: #0056b3; color: white; padding: 10px; display: flex; align-items: center; width: 100%; justify-content: space-between; font-family: 'Century Gothic', Arial, sans-serif;">
  <div class="icon" style="font-size: 24px;">
    <img src="{% static 'laguna-icon.png' %}" alt="Icon" style="width: 75px; height: 75px;">
  </div>
  <div class="title" style="font-size: 28px; font-weight: bold; color: #ec942c;">Laguna Beach Sports</div>
  <div class="icon" style="font-size: 24px;">
    <img src="{% static 'laguna-icon.png' %}" alt="Icon" style="width: 75px; height: 75px;">
  </div>
</div>